

.register-page {
    display: flex;
    background-color: red;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 80px;
    top: 100px;
    border-radius: 1%;
    border: solid;
  }